#wrapper {
 width: 100%;
 min-width: 550px;
 max-width: 1000px;
 margin: 0 auto;

}

#header {
 background-color: #572C2C;
 color: #FFFFFF;
 padding: 10px;
 height: 120px;
}
#sidebar {
 width: 33%;
 padding: 10px;
 float: left;
 height: 300px;

}
#main {
 margin-left: 36%;
 margin-left: -moz-calc(33% + 20px);
 margin-left: -webkit-calc(33% + 20px);
 margin-left: calc(33% + 20px);
 padding: 10px 20px;
}
#footer {
 background-color: #252017;
 color: #DB9924;
 padding: 10px;
clear: both;
}